@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body{
    background-color:#BDBBBB ;
}
.title{
    text-align: center;
    margin: auto 0;
font-family:'Limelight', cursive;
font-size: 100px;
color:transparent;
-webkit-text-stroke: .2px #FFF;
}

.card-wrapper{
    display: flex;
    margin: auto 0;
    justify-content: center;
  }
  .top2011{
    background-color: #CF5476;
    height: 75px;
    width: 98px;
  }
  .top2012{
    background-color: #DD4124;
    height: 75px;
    width: 98px;
  }
  .top2013{
    background-color: #009B77;
    height: 75px;
    width: 98px;
  }
  .top2014{
    background-color: #B163A3;
    height: 75px;
    width: 98px;
  }
  .top2015{
    background-color: #97504C;
    height: 75px;
    width: 98px;
  }
  .top2016_1{
    background-color: #B3CEE5;
    height: 75px;
    width: 98px;
  }
  .top2016_2{
    background-color: #f7cac9;
    height: 75px;
    width: 98px;
  }
  .top2017{
    background-color: #88B04B;
    height: 75px;
    width: 98px;
  }
  .top2018{
    background-color: #604c8d;
    height: 75px;
    width: 98px;
  }
  .top2019{
    background-color: #ff6f61;
    height: 75px;
    width: 98px;
  }
  .top2020{
    background-color: #34558b;
    height: 75px;
    width: 98px;
  }
  .top2021_1{
    background-color: #959A9C;
    height: 75px;
    width: 98px;
  }
  .top2021_2{
    background-color: #F5DF4D;
    height: 75px;
    width: 98px;
  }

  .card{
    border: solid 1px black;
    width: 100px;
    height:125px;
    margin: 5px;
    background-color: #FFF;
  }
  .card-text{
      font-size: 10px;
      background-color: #FFF;
  }
  .pride_form{
    margin: auto 0;
    justify-content: center;
  }
  /*this is something to commit