@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");

body {
  background-color: #bdbbbb;
}
.title {
  text-align: center;
  margin: auto 0;
  font-family: "Limelight", cursive;
  font-size: 100px;
  color: #fff;
  -webkit-text-stroke: 0.2px #000;
}

.card-wrapper {
  display: flex;
  margin: auto 0;
  justify-content: center;
}

.card-button{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}
#cardDimension {
  height: 75px;
  width: 98px;
}

.top2011 {
  background-color: #cf5476;
}
.top2012 {
  background-color: #dd4124;
}
.top2013 {
  background-color: #009b77;
}
.top2014 {
  background-color: #b163a3;
}
.top2015 {
  background-color: #97504c;
}
.top2016_1 {
  background-color: #b3cee5;
}
.top2016_2 {
  background-color: #f7cac9;
}
.top2017 {
  background-color: #88b04b;
}
.top2018 {
  background-color: #604c8d;
}
.top2019 {
  background-color: #ff6f61;
}
.top2020 {
  background-color: #34558b;
}
.top2021_1 {
  background-color: #959a9c;
}
.top2021_2 {
  background-color: #f5df4d;
}

.card {
  border: solid 1px black;
  width: 100px;
  height: 125px;
  margin: 5px;
  background-color: #fff;
}
.card-text {
  font-size: 10px;
  background-color: #fff;
}
.convo-wrapper {
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  width: 350px;
  height: 300px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  opacity: 0.9;
  border: solid 1px black;
}
#convo-title {
  font-family: "Rouge Script", cursive;
  font-size: 40px;
  margin: 0px;
}
#convo-paragraph {
  font-family: "Josefin Sans", sans-serif;
}
#convo-button {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: "Limelight", cursive;
  width: 200px;
}
.pride_form {
  justify-content: center;
  padding: 25px;
}
.form-wrapper {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  background-color: #fff;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  opacity: 0.9;
  border: solid 1px black;
}
#form-title {
  font-family: "Rouge Script", cursive;
  font-size: 40px;
  margin: 0px;
}
label {
  font-family: "Josefin Sans", sans-serif;
}
#form-submit {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  font-family: "Limelight", cursive;
}

.db_left_side_card{
  width: 350px;
  justify-content: center;
  align-items: center;
}

.db_right_side_card{
  width: 350px;
}

.db_card_div {
  background-color: #000;
  border: solid 5px #fff;
  width:700px;
  height:500px;
  display: flex;
  margin: auto;
  justify-content: center;
}

.db_color_name {
  display: flex;
  color: #fff;
  font-family: "Limelight", cursive;
  font-size: 50px;
}

.db_release_year {
  display: inline-block;
  color: #fff;
  font-family: "Limelight", cursive;
  font-size: 40px;
}

.db_image_description {
  display: inline-block;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}
.db_image{
  display: flex;
  margin: auto 0;
  justify-content: center;
  width: 300px;
}

.db_instagram_handle{
  display: inline-block;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;  
}

.fetch-API-button{
  background-color: #000;
  color: #fff;
  font-size: 60px;
  font-family: "Limelight", cursive;
  width: 600px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 1px #FFF;
  cursor: pointer;
}

.API-instruction{
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  width: 550px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 1px #000;
  opacity: .6;
  border-radius: 10px;
  margin-bottom: 30px;
}
a{
  margin-top: 15px;
}
.emojis{
  margin-top: 8px;
}
a:link {
  color: #959A9c;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}

.API_wrapper-wrapper{
  text-align: center;
  margin-top: 15px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .API_card_wrapper{
  text-align: center;
  margin-top: 15px;
  margin: 15px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
} */

.API_card_wrapper{
  display: grid;
  margin: auto 0px;
  margin-top: 30px;
  padding: 0px;
  grid-template-columns: 170px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

#API_card_dimension{
  height: 75px;
  width: 98px;
}

.API_card{
  border: solid 1px black;
  width: 100px;
  height: 125px;
  margin: 5px;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .title {
    text-align: center;
    margin: auto;
    font-family: "Limelight", cursive;
    font-size: 40px;
    color: #fff;
    -webkit-text-stroke: 0.2px #000;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.card-wrapper {
  display: grid;
  margin: auto 10px;
  padding: 30px;
  grid-template-columns: 170px 170px;
  grid-template-rows: 170px 170px;
  justify-items: center;
  align-items: center;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
#cardDimension {
  height: 100px;
  width: 120px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.card {
  border: solid 1px black;
  width: 122px;
  height: 150px;
  margin: 5px;
  background-color: #fff;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
#extra-card {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-left: 100px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.convo-wrapper {
  margin: 10px auto;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  opacity: 0.9;
  border: solid 1px black;
  margin-bottom: 50px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #convo-title {
    font-family: "Rouge Script", cursive;
    font-size: 20px;
    margin: 0px;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
#convo-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
#convo-button {
  background-color: #000;
  color: #fff;
  font-size: 10px;
  font-family: "Limelight", cursive;
  width: 100px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_card_div {
  background-color: #000;
  border: solid 5px #fff;
  width:300px;
  height:200px;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 10px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_color_name {
  display: flex;
  color: #fff;
  font-family: "Limelight", cursive;
  font-size: 20px;
  margin: 5px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_release_year {
  display: inline-block;
  color: #fff;
  font-family: "Limelight", cursive;
  font-size: 20px;
  margin: 0px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_image_description {
  display: inline-block;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 10px;
  margin: 0px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_instagram_handle{
  display: inline-block;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 15px;  
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.db_image{
  display: flex;
  margin: auto 0;
  justify-content: center;
  height: 150px;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.react-3d-carousel{
 height: 10px;
 background: transparent;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.fetch-API-button{
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: "Limelight", cursive;
  width: 200px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 1px #FFF;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.API-instruction{
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  width: 250px;
  display: flex;
  margin: auto;
  justify-content: center;
  border: solid 1px #000;
  opacity: .9;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.API_card_wrapper-wrapper{
  text-align: center;
  margin-top: 15px;
  margin: auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.API_card_wrapper{
  text-align: center;
  margin-top: 15px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.API_card{
  border: solid 1px black;
  width: 75px;
  height: 100px;
  margin: 5px;
  background-color: #fff;
}
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
#API_card_dimension{
  height: 60px;
  width: 73px;
}
}