@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body{
    background-color:#BDBBBB ;
}
.title{
    text-align: center;
    margin: auto 0;
    font-family:'Limelight', cursive;
    font-size: 100px;
    color:#FFF;
    -webkit-text-stroke: .2px #000;
    opacity: .9;
}

.card-wrapper{
    display: flex;
    margin: auto 0;
    justify-content: center;
  }

#cardDimension{
  height: 75px;
  width: 98px;  
}

  .top2011{
    background-color: #CF5476;
  }
  .top2012{
    background-color: #DD4124;
  }
  .top2013{
    background-color: #009B77;
  }
  .top2014{
    background-color: #B163A3;
  }
  .top2015{
    background-color: #97504C;
  }
  .top2016_1{
    background-color: #B3CEE5;
  }
  .top2016_2{
    background-color: #f7cac9;
  }
  .top2017{
    background-color: #88B04B;
  }
  .top2018{
    background-color: #604c8d;
  }
  .top2019{
    background-color: #ff6f61;
  }
  .top2020{
    background-color: #34558b;
  }
  .top2021_1{
    background-color: #959A9C;
  }
  .top2021_2{
    background-color: #F5DF4D;
  }

  .card{
    border: solid 1px black;
    width: 100px;
    height:125px;
    margin: 5px;
    background-color: #FFF;
  }
  .card-text{
      font-size: 10px;
      background-color: #FFF;
  }
  .convo-wrapper{
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 300px;
    background-color: #FFF;
    padding: 30px;
    border-radius: 10px;
    opacity: .9;
    border: solid 1px black;
  }
  #convo-title{
    font-family: 'Rouge Script', cursive;
    font-size: 40px;
    margin: 0px
  }
  #convo-paragraph{
    font-family: 'Josefin Sans', sans-serif;
  }
  #convo-button{
  background-color: #000;
  color:#FFF;
  font-size: 20px;
  font-family:'Limelight', cursive;
  width:200px;
  }
  .pride_form{
    justify-content: center;
    padding: 25px;
  }
.form-wrapper{
  display: flex;
  text-align: center;
  margin: auto;
  justify-content:center;
  background-color: #FFF;
  width: 350px; 
  height: 350px;
  border-radius: 10px;
  opacity: .9;
  border: solid 1px black;
}
#form-title{
  font-family: 'Rouge Script', cursive;
  font-size: 40px;
  margin: 0px
}
label{
  font-family: 'Josefin Sans', sans-serif;
}
#form-submit{
  background-color: #000;
  color:#FFF;
  font-size: 30px;
  font-family:'Limelight', cursive;
}
