

.list {
  list-style: none;
  margin: 2rem 0 3rem;
  padding-left: 0;

  li {
    margin-top: 1rem;

    &::before {
      content: "🐶";
      font-size: 1.5rem;
      margin-right: 1.25rem;
    }
  }
}

.button {
  margin-left: 1rem;
}
.card-wrapper{
  display:inline;
}
.top{
  background-color: #DB4F70;
  height: 75px;
  width: 150px;
}
.card{
  border: solid 1px black;
  width: 150px;
  height:150px;
}
